@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto", sans-serif ;
    font-style: normal;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    
}
.all-contener{
    background-color: #ffff;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    text-align: center;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}


.form{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.form input{
    padding: 10px 15px;
    background-color: #444;
    
}

.form button{
    padding: 10px;
    border-color: beige;
}
